.container {
  text-align: center;
  padding: 10rem;
}
.title {
  font-size: 2rem;
}
.description {
  font-size: 1rem;
  line-height: 2rem;
}

.img {
  width:100px;
  height:100px;
}

.button {
  border-radius: 6px;
  padding: 15px;
  font-family: JetBrains-Light;
  color: white;
  border-style:solid;
  font-size:15px;
}