.container {
  width: 50rem;
  text-align: center;
  margin: auto;
}

.bio_container {
  display: flex;
  width: 800px;
  margin: auto;
  background-color: #332a3c;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-bottom: 4rem;
}

.title {
  font-size: 3rem;
  color: white;
  text-align: left;
  font-family:Montserrat-Bold;
  font-weight:900;
}

.description_container {
  padding-right: 50px;
}

.description {
  font-size: 1rem;
  line-height: 2rem;
  color: #ccc3d5;
  text-align: left;
  line-height: 35px;
  font-family: Montserrat;
}

.img {
  height: 220px;
  width: auto;
  align-self: center;
  border-radius: 50%;
}

.topic {
  color: white;
  text-align: left;
}

.list {
  color: white;
  list-style-type: none;
  text-align: left;
  line-height: 40px;
}

.button {
  border-radius: 6px;
  padding: 15px;
  font-family: JetBrains-Light;
  color: white;
  border-style: solid;
  font-size: 15px;
}
