.container {
  margin: 0;
  padding: 0;
}

.media_container {
  display: flex;
  margin-top: 4rem;
  margin-bottom: 2rem;
  padding: 0;
  justify-content: center;
}

.list {
  display: inline;
  padding-left: 20px;
  padding-right: 20px;
}

.icon {
  width: 20px;
  filter: invert(98%) sepia(2%) saturate(7231%) hue-rotate(190deg)
    brightness(87%) contrast(91%);
}

.icon:hover {
  filter: invert(83%) sepia(49%) saturate(5649%) hue-rotate(217deg)
    brightness(89%) contrast(80%);
  transition: 300ms;
}
