html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #272032
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: JetBrains-Light;
  src: url(../public/JetBrainsMono-Light.woff2);
}

@font-face {
  font-family: JetBrains-Bold;
  src: url(../public/JetBrainsMono-Bold.woff2);
}

@font-face {
  font-family: Dosis;
  src: url('https://fonts.googleapis.com/css2?family=Dosis&family=Raleway:wght@100&display=swap');
}