html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #272032
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

li {
  padding-left:1rem;
}

@font-face {
  font-family: JetBrains-Light;
  src: url(../public/JetBrainsMono-Light.woff2);
}

@font-face {
  font-family: JetBrains-Bold;
  src: url(../public/JetBrainsMono-Bold.woff2);
}

@font-face {
  font-family: Lato-Light;
  src: url(../public/Lato-Light.ttf);
}

@font-face {
  font-family: Lato-Regular;
  src: url(../public/Lato-Regular.ttf);
}

@font-face {
  font-family: Montserrat;
  src: url(../public/Montserrat-VariableFont_wght.ttf);
}

@font-face {
  font-family: Montserrat-Bold;
  src: url(../public/Montserrat-Bold.ttf);
}