.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  padding-top: 3.5rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer img {
  margin-left: 0.5rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading {
  font-family: JetBrains-Light;
  font-size: 15px;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 8rem;
  color: white;
  font-family: JetBrains-Bold;
}

.title,
.description {
  text-align: center;
  color: white;
}

.description {
  line-height: 1.5;
  font-size: 20px;
  color: white;
  font-family: JetBrains-Light;
}

.description_container {
  width: 900px;
  margin-bottom: 30px;
}

.name_container {
  color: white;
  margin-bottom: 30px;
  line-height: 4;
}

.button {
  border-radius: 6px;
  padding: 15px;
  font-family: JetBrains-Light;
  color: #aa7dce;
  border-style: solid;
  font-size: 15px;
  transition: 300ms;
}

.button:hover {
  background-color: #44364e;
  fill-opacity: 4;
}
