@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

.nav {
  text-align: center;
  background-color: #272032;
}

.link {
  color: white;
  font-size: 15px;
  font-family: JetBrains-Light;
  padding-left: 20px;
  padding-right: 30px;
  transition: 300ms;
}

.link:hover {
  color: #aa7dce;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  font-family: JetBrains-Light;
  color: white;
  font-size: 15px;
  margin-top: 0;
  padding-left: 2rem;
}

.logo:hover {
  filter: brightness(0) saturate(100%) invert(63%) sepia(9%) saturate(2481%) hue-rotate(227deg) brightness(88%) contrast(81%);
}
