.container {
  width: 65rem;
  margin: auto;
  text-align: center;
}

.card {
  margin-top: 2.5rem;
  margin-bottom: 3rem;
  padding: 1rem;
  display:flex;
  justify-content: space-between;
}

.title {
  text-align: left;
  font-size: 3rem;
  color: #f5f3f7;
  font-family: Montserrat-Bold;
  font-weight: 900;
}

.image_container {
  display:flex;
  justify-content: center;
  align-items: center;
  width:30rem;
}

.project_container_right {
  display:grid;
  text-align: right;
}

.project_container_left {
  text-align:left;
}

.project_titles {
  font-size: 1.5rem;
  color: #f5f3f7;
  font-family: Montserrat-Bold;
}

.description {
  width:30rem;
  font-size: 0.9rem;
  font-family: Montserrat;
  line-height: 2rem;
  color: #ccc3d5;
  border-style: solid;
  border-radius: 1rem;
  border-color: #332a3c;
  background-color: #332a3c;
  padding:1rem;
}

.skills_container {
  display:flex;
}

.skills_bubble {
  border-style: solid;
  border-radius: 10px;
  border-width: 2px;
  border-color: #b8a9c6;
  background-color: #b8a9c6;
  color: white;
  margin-left: 15px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  font-family: JetBrains-Light;
  font-size: 0.9rem;
}

.button {
  border-radius: 6px;
  padding: 15px;
  font-family: JetBrains-Light;
  color: #aa7dce;
  border-style: solid;
  font-size: 15px;
  transition: 300ms;
}

.button:hover {
  background-color: #44364e;
  fill-opacity: 4;
}
